a {
  text-decoration: none;
}

/*αλλαγή μεγέθους γραμματοσειράς για τις h1*/
h1 {
  font-size: 36px;
}

/*αλλαγή μεγέθους γραμματοσειράς για τις h1*/
h2 {
  font-size: 24px;
}

/*αλλαγή μεγέθους γραμματοσειράς για τις h1*/
h3 {
  font-size: 18px;
}

/*μορφοποίηση πλάτους κλάσης*/
.column-50 {
  width: 50%;
}

/*κεντράρισμα*/
.fill-height {
  height: 100%;
}

/*μορφοποίηση κλάσης χάρτη*/
.g-map {
  text-align: center;
  width: 100%;
}

/*ορισμός χρώματος background*/
.bg-color {
  background-color: #d9d9d9;
}

/*ορισμός φάρδους και χρώματος περιγράμματος*/
.border-solid-black {
  border: 1px solid #000;
  border-right: 0;
}

/*μορφοποίηση header*/
header {
  height: 100px;
  position: fixed; /*μονιμοποίηση θέσης ακόμα και εάν χρειαστεί scrolling*/
  width: 100%;
  top: 0; /*μόνιμα στην κορυφή*/
  left: 0; /*μόνιμα αριστερά*/
}

/*μορφοποίηση footer*/
footer {
  display: flex; /*δημιουργία flexbox για ευκολότερη μορφοποίηση*/
  justify-content: center; /*κεντράρισμα*/
  align-items: center; /*κεντράρισμα*/
  position: fixed; /*μονιμοποίηση θέσης ακόμα και εάν χρειαστεί scrolling*/
  height: 75px;
  width: 100%;
  bottom: 0;
  left: 0;
}

/*μορφοποίηση sidebar menu*/
.sidebar {
  width: 280px; /* Set the width of the sidebar */
  position: fixed; /*μονιμοποίηση θέσης ακόμα και εάν χρειαστεί scrolling*/
  top: 100px; /*ορισμός του από που να ξεκινήσει η στήλη του sidebar*/
  left: 0;
  bottom: 75px; /*ορισμός του που να τελειώνει η στήλη του sidebar*/
  overflow-y: auto; /*για την περίπτωση που το περιεχόμενο της στήλης είναι υψηλότερο απο το μέγεθος της στηλης*/
  background-color: #d9d9d9;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

/*sidebar navigation menu*/
.sidebar a {
  text-align: center; /*κεντράρισμα*/
  padding: 16px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: block; /*ορισμός των a απο inline σε block για να στοιχίζονται το ένα κάτω απο το άλλο*/
  border-bottom: 1px solid #000; /*χρώμα και φάρδος περιγράμματος*/
}

/*αλλαγή χρώματος στο hover, αλλά και όταν είναι active η σελίδα*/
.sidebar .active,
.sidebar a:hover {
  background-color: rgba(49, 132, 253, 0.5);
}

/*μορφοποίηση κεντρικού περιεχομένου σελίδας*/
.main {
  padding: 10px;

  width: calc(100vw - 280px);
  position: absolute;
  top: 100px;
  left: 280px; /* Same as the width of the sidebar */
  bottom: 75px;
  overflow-y: auto;
}

/*μορφοποίηση για μικρές οθόνες*/
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
